@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #0c0c0c;
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#CardSection__category::-webkit-scrollbar-track,
#CardSection__subcategory::-webkit-scrollbar-track {
  background-color: #0c0c0c;
  border-radius: 0px;
}

#CardSection__category::-webkit-scrollbar,
#CardSection__subcategory::-webkit-scrollbar {
  height: 4.8px;
  background-color: #fff;
  border-radius: 20px;
}

#CardSection__category::-webkit-scrollbar-thumb,
#CardSection__subcategory::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
}

.Card-container_main,
.Card-subcontainer_main {
  display: flex;
  flex-direction: column;
}
.Card-subcontainer_main {
  padding-top: 4.8rem;
  background: rgba(255, 255, 255, 0.912);
}

.section_headerProductTitle {
  font-size: clamp(0.9rem, calc(1.5rem + 0.39vw), 3rem);
  font-weight: 200;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 18px;
  padding: 3.6rem 1.2rem;
}
.Card-container_main .section_headerProductTitle {
  color: #ffffff;
}

#CardSection__category {
  display: flex;
  padding-top: 2rem;
  flex-flow: row wrap;
  width: 72vw;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.CardContainer {
  padding: 1.2rem 0.8em 0.8em 0.8em;
  background: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.CardContainer a {
  display: contents;
  text-decoration: none;
  color: inherit;
}

.CardContainer.verticalCard {
  padding-top: 2rem;
  margin: 12px;
  width: calc(100% / 12 * 3);
}

.Card_headerProductCounter {
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0.75;
  font-size: clamp(0.7rem, calc(0.8rem + 0.39vw), 1rem);
  padding: 0 1rem;
}

.Card_headerProductTitle {
  margin: 20px 0;
  font-size: clamp(1rem, calc(1.12rem + 0.39vw), 2.1rem);
  font-weight: 500;
  padding: 0 1rem;
}

.Card_header {
  height: auto;
}

.Card_body {
  margin: 2.4rem 0;
  font-size: clamp(0.8rem, calc(0.6rem + 0.39vw), 1.24rem);
  font-weight: 300;
  height: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding: 0 1rem;
  text-align: justify;
}

.Card_footer {
  display: flex;
  align-items: end;
}

.Card_footerLeft {
  width: 30%;
  display: flex;
  position: relative;
  justify-content: start;
}

.Card_footerRight {
  width: 70%;
  display: flex;
  position: relative;
  justify-content: end;
}

/* Image and Logo Container Styling */
.Card_imageWrapper {
  width: calc(100vw / 12 * 4 * 0.3);
  height: 100%;

  position: relative;
}

.Card_imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.Card_themeImage {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 10px 50px;
}
.Card_themeImage img {
  border-radius: 6px;
  transform: scale(1.3);
}

.Card_logoImage {
  margin-bottom: 2.4rem;
}
.Card_logoImage img,
.Card_logoImage svg {
  position: relative;
  width: 40%;
  height: auto;
  object-fit: contain;
  padding: 12px 2rem;
  left: -2em;
  border-radius: 6px;
  transition: all 400ms ease;
  background: #0c0c0c;
  z-index: 12;
}

/* Hover Effect */
.CardContainer:hover .Card_themeImage img {
  transform: scale(1.1); /* Slight zoom effect, not too big */
}

/* Smooth shrink of logo with hover */
.CardContainer:hover .Card_logoImage img,
.CardContainer:hover .Card_logoImage svg {
  height: auto;
  transform: translateY(75%);
  transition: all 400ms ease-in-out;
}

.CardContainer:hover .Card_imageWrapper::before {
  opacity: 1;
}

#CardSection__subcategory {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding: 2em;
}

.CardContainer.horizontalCard {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  margin: 12px;
  box-shadow: none;
  overflow: hidden;
}

.CardContainer.horizontalCard .Card_body {
  margin: 0.4rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.CardContainer.horizontalCard .Card_headerProductTitle {
  font-size: 1.5rem;
}

.CardContainer.horizontalCard .Card_imageWrapper {
  z-index: 2;
}

.card-pattern {
  background-image: url(http://localhost//fb-content/assets/media/images/logos/herbalLogo_mini_white.png);
  position: absolute;
  background-size: 50px 50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: space;
  opacity: 0.15;
  z-index: 1;
}

/* Közepes és kicsit nagy */
@media (max-width: 1285px) {
  #CardSection__category {
    width: 86vw;
    flex-flow: row wrap;
  }
  #CardSection__subcategory {
    display: flex;
    flex-flow: row wrap;
  }
  .CardContainer.verticalCard {
    padding-top: 2rem;
    width: calc(100% / 12 * 5);
  }

  .CardContainer.horizontalCard {
    padding-top: 2rem;
    min-width: calc(100% / 12 * 4);
  }

  .CardContainer.horizontalCard .Card_headerProductTitle {
    text-align: left;
  }

  .Card_headerProductCounter {
    font-size: clamp(0.7rem, calc(0.82rem + 0.39vw), 1rem);
  }

  .Card_headerProductTitle {
    font-size: clamp(1rem, calc(1.36rem + 0.39vw), 2.1rem);
  }
  .Card_body {
    height: 100px;
    font-size: clamp(0.8rem, calc(0.7rem + 0.39vw), 1.25rem);
  }

  .Card_header {
    height: auto;
  }

  .Card_imageWrapper {
    width: calc(100vw / 12 * 4 * 0.5);
  }

  .CardContainer:hover .Card_logoImage img {
    height: auto;
    transform: translateY(80%);
    transition: all 400ms ease-in-out;
  }
}

@media (max-width: 1125px) {
  #CardSection__subcategory {
    display: flex;
    flex-flow: row wrap;
  }
  .CardContainer.horizontalCard .Card_headerProductTitle {
    font-size: clamp(0.8rem, calc(1.16rem + 0.39vw), 1.25rem);
  }

  /* Közepes és kisebb képernyők */
  @media (max-width: 825px) {
    #CardSection__category,
    #CardSection__subcategory {
      display: flex;
      width: 100vw;
      justify-content: flex-start;
      flex-flow: row;

      overflow-x: auto;
      margin: 0;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }

    .CardContainer {
      scroll-snap-align: start;
      min-width: calc(100% * 0.7) !important;
      margin-bottom: 36px;
    }

    .CardContainer.horizontalCard .Card_body {
      padding: 0;
    }

    .CardContainer.horizontalCard .Card_headerProductTitle {
      font-size: clamp(0.6rem, calc(0.6em + 1.39vw), 1.1rem);
    }

    .Card_headerProductCounter {
      font-size: clamp(0.6rem, calc(0.5em + 1.39vw), 0.9rem);
    }

    .Card_headerProductTitle {
      font-size: clamp(1rem, calc(0.9rem + 1.39vw), 1.45rem);
    }
    .Card_header {
      height: auto;
    }
    .Card_body {
      font-size: clamp(0.75rem, calc(0.6rem + 1.39vw), 1rem);
      overflow-wrap: break-word;
      text-align: left;
      height: 120px;
      word-wrap: break-word;
    }

    .Card_imageWrapper {
      width: calc(100vw / 12 * 4);
      height: 100%;

      position: relative;
    }
  }
}
