# / a minta elején: Ha egy szabály /-el kezdődik (pl. /logs/), akkor az csak a gyökérkönyvtárban található logs mappára érvényes.
# Relatív minta: Ha nincs /, mint pl. *.log, az a teljes projektben, minden almappában hatással lesz.
# Dupla csillag (**): Ezzel bármilyen szintű almappákban található fájlokat is figyelmen kívül hagyhatod, pl. **/debug/* minden debug nevű mappában lévő fájlt figyelmen kívül hagy.

# Generált fájlok
*.class
/python/
*.pyc
__pycache__/

# Érzékeny adatok
auth/
.env
.htaccess
*.key

# Felhasználóspecifikus fájlok
logs/
*.log

# Külső függőségek
/node_modules/
/.npm/
