# / a minta elején: Ha egy szabály /-el kezdődik (pl. /logs/), akkor az csak a gyökérkönyvtárban található logs mappára érvényes.
# Relatív minta: Ha nincs /, mint pl. *.log, auth/, az a teljes projektben, minden almappában hatással lesz.
# Dupla csillag (**): Ezzel bármilyen szintű almappákban található fájlokat is figyelmen kívül hagyhatod, pl. **/debug/* minden debug nevű mappában lévő fájlt figyelmen kívül hagy.

# git rm --cached -r *.htaccess
# git rm --cached -r folder

# Generált fájlok
/python/
*.class
*.pyc
__pycache__/
*.o
*.obj
*.dll
*.exe

# Érzékeny adatok
*.env
*.pem
*.key
*.db

# Felhasználóspecifikus fájlok
logs/
log/
debugs/
debug/
*.log
*.logs
*.tmp
*.todo

# Külső függőségek
node_modules/
.npm/
bin/*

/vendor/


# Képek
domains/domainname/public_html/fb-content/fb-products/media/images/