/* Kis képernyőjű mobilok */
@media (max-width: 320px) {
  /* Stílusok kis képernyőjű mobilokhoz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 90vw;
  }
}

/* Átlagos mobilok */
@media (max-width: 480px) {
  /* Stílusok átlagos mobilokhoz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 90vw;
  }

  /*
 =============================
    brand philosophy + description
 =============================
 */
  #brand-philosophy {
    padding: 0;
  }
  .brand-philosophy_wrapper {
    width: 72vw;
  }
  #brand-philosophy .brand-philosophy_wrapper p {
    padding: 12px 0 12px 0;
  }
}

/* Nagyobb mobilok */
@media (max-width: 600px) {
  /* Stílusok nagyobb mobilokhoz */

  /*
 =============================
    welcome video
 =============================
 */

  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 70vw;
  }

  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    display: none;
    width: 100%;
    height: 65vh;
    top: 0;
    right: 0; /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: auto;
    height: auto;
  }
  .swiper-slide .swiper-card .text-overlay {
    margin-inline: auto;
    width: 95%;
  }
  .swiper-slide .swiper-card .text-overlay .card-footer .cast img {
    width: 36px;
    height: 36px;
  }
  /*
 =============================
    swiper category chooser
 =============================
 */
  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  #brand-philosophy {
    padding: 0;
  }
  .brand-philosophy_wrapper {
    width: 72vw;
  }
  #brand-philosophy .brand-philosophy_wrapper p {
    padding: 12px 0 12px 0;
  }

  #brand-description {
    margin: 0;
    padding: 24px;
    width: 94vw;
  }
  #brand-description .brandImages {
    top: 25%;
  }
  #brand-description .brandContent {
    width: 72vw !important;
    margin-left: auto;
    margin-right: auto;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    width: auto;
    white-space: wrap;
    position: relative;
    font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
    padding: 12px 0 12px 0;
  }
  #brand-description .brandContent .brandContentParagraph {
    margin-top: 3.6rem;
    position: relative;
    top: 5%;
    width: 100%;
  }
  #brand-description .brandImages {
    display: none !important;
  }
  /*
 =============================
    képgaléria - kategória
 =============================
 */
  .ImgGallery_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-content: center;
    width: 96vw;
    height: auto;
    margin-inline: auto;
    margin-top: 12rem;
    padding: 12px;
  }
  .ImgGallery_container .media_box:nth-child(5n + 1) {
    grid-column: auto;
    grid-row: span 1; /* Első kép, két sor magas */
    height: 16vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 2) {
    grid-column: auto;
    grid-row: span 1; /* Második kép, két sor magas */
    height: 16vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 3) {
    grid-column: auto;
    grid-row: span 1; /* Harmadik kép, két sor magas */
    height: 16vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 4) {
    grid-column: auto;
    grid-row: span 1; /* Negyedik kép, felső hely a 4. oszlopban */
    height: 16vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 5) {
    grid-column: auto;
    grid-row: span 1; /* Ötödik kép ugyanabban a 4. oszlopban, de alsó hely */
    height: 16vh;
  }
  .ImgGallery_container .caption .title_caption {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.6rem;
    font-weight: 300;
  }

  .ImgGallery_container .caption .subcontent_caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-weight: 200;
  }
}

/* Fekvő tájolású tabletek */
@media (min-width: 601px) and (max-width: 767px) and (orientation: landscape) {
  /* Stílusok fekvő tájolású tabletekhez */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 70vw;
  }
  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    width: calc(55vw - (1.2rem + 2 * 2.4rem) + 8px);
    height: 65vh;
    bottom: calc((1.2rem + 2 * 2.4rem) + 8px);
    left: calc(
      ((85vw / 9.6 - 60vw / 2.4) / 2) +
        (60vw / 1.2 / (55 - (1.2 + 2 * 2.4) + 8))
    ); /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: auto;
    height: auto;
  }
  .swiper-slide .swiper-card .text-overlay .card-footer .cast img {
    width: 40px;
    height: 40px;
  }
  /*
 =============================
    swiper category chooser
 =============================
 */
  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  .brand-philosophy_wrapper {
    width: 50vw;
  }
  #brand-description .brandImages {
    top: 25%;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    width: auto;
    white-space: wrap;
    position: relative;
    font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
    padding: 12px 0 12px 0;
  }
  #brand-description .brandContent .brandContentParagraph {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 5%;
    width: 100%;
  }
  .brandImages .brandImages_imgHorizontal img {
    width: 30vw;
    transform: translate(-50%, 50%);
  }
  /*
 =============================
    képgaléria - kategória
 =============================
 */
  .ImgGallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-content: center;
    width: 96vw;
    height: auto;
    margin-inline: auto;
    margin-top: 12rem;
    padding: 12px;
  }
  .ImgGallery_container .media_box:nth-child(5n + 1) {
    grid-column: auto;
    grid-row: span 1; /* Első kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 2) {
    grid-column: auto;
    grid-row: span 1; /* Második kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 3) {
    grid-column: auto;
    grid-row: span 1; /* Harmadik kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 4) {
    grid-column: auto;
    grid-row: span 1; /* Negyedik kép, felső hely a 4. oszlopban */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 5) {
    grid-column: auto;
    grid-row: span 1; /* Ötödik kép ugyanabban a 4. oszlopban, de alsó hely */
    height: 24vh;
  }
  .ImgGallery_container .caption .title_caption {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.6rem;
    font-weight: 300;
  }

  .ImgGallery_container .caption .subcontent_caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-weight: 200;
  }
}

/* Álló tájolású tabletek */
@media (min-width: 601px) and (max-width: 767px) and (orientation: portrait) {
  /* Stílusok álló tájolású tabletekhez */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 70vw;
  }
  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    width: calc(55vw - (1.2rem + 2 * 2.4rem) + 8px);
    height: 65vh;
    bottom: calc((1.2rem + 2 * 2.4rem) + 8px);
    left: calc(
      ((85vw / 9.6 - 60vw / 2.4) / 2) +
        (60vw / 1.2 / (55 - (1.2 + 2 * 2.4) + 8))
    ); /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: auto;
    height: 65vh;
  }

  .swiper-slide .swiper-card .text-overlay .card-footer .cast img {
    width: 40px;
    height: 40px;
  }

  /*
 =============================
    swiper category chooser
 =============================
 */
  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  .brand-philosophy_wrapper {
    width: 50vw;
  }
  #brand-description .brandImages {
    top: 25%;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    width: auto;
    white-space: wrap;
    position: relative;
    font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
    padding: 12px 0 12px 0;
  }
  #brand-description .brandContent .brandContentParagraph {
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    top: 5%;
    width: 100%;
  }
  .brandImages .brandImages_imgHorizontal img {
    width: 30vw;
    transform: translate(-50%, 50%);
  }
  /*
 =============================
    képgaléria - kategória
 =============================
 */
  .ImgGallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    justify-content: center;
    width: 96vw;
    height: auto;
    margin-inline: auto;
    margin-top: 12rem;
    padding: 12px;
  }
  .ImgGallery_container .media_box:nth-child(5n + 1) {
    grid-column: auto;
    grid-row: span 1; /* Első kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 2) {
    grid-column: auto;
    grid-row: span 1; /* Második kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 3) {
    grid-column: auto;
    grid-row: span 1; /* Harmadik kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 4) {
    grid-column: auto;
    grid-row: span 1; /* Negyedik kép, felső hely a 4. oszlopban */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 5) {
    grid-column: auto;
    grid-row: span 1; /* Ötödik kép ugyanabban a 4. oszlopban, de alsó hely */
    height: 24vh;
  }
  .ImgGallery_container .caption .title_caption {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.6rem;
    font-weight: 300;
  }

  .ImgGallery_container .caption .subcontent_caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-weight: 200;
  }
}

/* Fekvő tájolású tabletek */
@media (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {
  /* Stílusok fekvő tájolású tabletekhez */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 60vw;
  }

  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    width: calc(34vw - (1.2rem + 2 * 2.4rem) + 8px);
    height: 65vh;
    bottom: calc((1.2rem + 2 * 2.4rem) + 8px);
    left: calc(
      ((75vw - 60vw) / 2) + (60vw / 1.2 / (34 - (1.2 + 2 * 2.4) + 8))
    ); /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: 60vw;
    height: 65vh;
  }

  /*
 =============================
    swiper category chooser
 =============================
 */

  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  .brand-philosophy_wrapper {
    width: 50vw;
  }
  #brand-description .brandImages {
    top: 25%;
    margin-right: 7rem;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    width: auto;
    white-space: wrap;
    position: relative;
    padding: 12px 0 12px 0;
    font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  }
  .brandImages .brandImages_imgHorizontal img {
    width: 30vw;
    transform: translate(-50%, 50%);
  }
  /*
 =============================
    képgaléria - kategória
 =============================
 */
  .ImgGallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px 12px;
    justify-content: center;
    width: 96vw;
    height: auto;
    margin-inline: auto;
    margin-top: 12rem;
    padding: 12px;
  }

  .ImgGallery_container .media_box:nth-child(5n + 1) {
    grid-column: auto;
    grid-row: span 1; /* Első kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 2) {
    grid-column: auto;
    grid-row: span 1; /* Második kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 3) {
    grid-column: auto;
    grid-row: span 1; /* Harmadik kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 4) {
    grid-column: auto;
    grid-row: span 1; /* Negyedik kép, felső hely a 4. oszlopban */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 5) {
    grid-column: auto;
    grid-row: span 1; /* Ötödik kép ugyanabban a 4. oszlopban, de alsó hely */
    height: 24vh;
  }
  .ImgGallery_container .caption .title_caption {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.6rem;
    font-weight: 300;
  }

  .ImgGallery_container .caption .subcontent_caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-weight: 200;
  }
}

/* Álló tájolású tabletek */
@media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
  /* Stílusok fekvő tájolású tabletekhez */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 60vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 60vw;
  }

  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    width: calc(34vw - (1.2rem + 2 * 2.4rem) + 8px);
    height: 65vh;
    bottom: calc((1.2rem + 2 * 2.4rem) + 8px);
    left: calc(
      ((75vw - 60vw) / 2) + (60vw / 1.2 / (34 - (1.2 + 2 * 2.4) + 8))
    ); /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: 60vw;
    height: 65vh;
  }

  /*
 =============================
    swiper category chooser
 =============================
 */

  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  .brand-philosophy_wrapper {
    width: 50vw;
  }
  #brand-description .brandImages {
    top: 25%;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    width: auto;
    white-space: wrap;
    position: relative;
    padding: 12px 0 12px 0;
    font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  }
  .brandImages .brandImages_imgHorizontal img {
    width: 30vw;
    transform: translate(-50%, 50%);
  }
  /*
 =============================
    képgaléria - kategória
 =============================
 */
  .ImgGallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px 12px;
    justify-content: center;
    width: 96vw;
    height: auto;
    margin-inline: auto;
    margin-top: 12rem;
    padding: 12px;
  }
  .ImgGallery_container .media_box:nth-child(5n + 1) {
    grid-column: auto;
    grid-row: span 1; /* Első kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 2) {
    grid-column: auto;
    grid-row: span 1; /* Második kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 3) {
    grid-column: auto;
    grid-row: span 1; /* Harmadik kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 4) {
    grid-column: auto;
    grid-row: span 1; /* Negyedik kép, felső hely a 4. oszlopban */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 5) {
    grid-column: auto;
    grid-row: span 1; /* Ötödik kép ugyanabban a 4. oszlopban, de alsó hely */
    height: 24vh;
  }
  .ImgGallery_container .caption .title_caption {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.6rem;
    font-weight: 300;
  }

  .ImgGallery_container .caption .subcontent_caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-weight: 200;
  }
}

/* Kisebb laptopok */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Stílusok kisebb laptopokhoz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 45vw;
    margin: 25vh 0;
  }
  .videoContent_scrollable .videoContent_card-content img {
    width: 60vw;
  }

  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    width: calc(34vw - (1.2rem + 2 * 2.4rem) + 8px);
    height: 55vh;
    bottom: calc((1.2rem + 2 * 2.4rem) + 8px);
    left: calc(
      ((75vw - 60vw) / 2) + (60vw / 1.2 / (34 - (1.2 + 2 * 2.4) + 8))
    ); /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: 60vw;
    height: 45vh;
  }

  /*
 =============================
    swiper category chooser
 =============================
 */

  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  .brand-philosophy_wrapper {
    width: 50vw;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    white-space: wrap;
    position: relative;
    padding: 12px 0 12px 0;
    font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  }
  #brand-description .brandContent .brandContentParagraph {
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
    padding: 0 8px;
  }
  .brandImages .brandImages_imgHorizontal img {
    width: 30vw;
    transform: translate(-50%, 50%);
  }
  /*
 =============================
    képgaléria - kategória
 =============================
 */

  .ImgGallery_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-content: center;
    width: 96vw;
    height: auto;
    margin-inline: auto;
    margin-top: 12rem;
    padding: 12px;
  }
  .ImgGallery_container .media_box:nth-child(5n + 1) {
    grid-column: auto;
    grid-row: span 1; /* Első kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 2) {
    grid-column: auto;
    grid-row: span 1; /* Második kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 3) {
    grid-column: auto;
    grid-row: span 1; /* Harmadik kép, két sor magas */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 4) {
    grid-column: auto;
    grid-row: span 1; /* Negyedik kép, felső hely a 4. oszlopban */
    height: 24vh;
  }

  .ImgGallery_container .media_box:nth-child(5n + 5) {
    grid-column: auto;
    grid-row: span 1; /* Ötödik kép ugyanabban a 4. oszlopban, de alsó hely */
    height: 24vh;
  }
  .ImgGallery_container .caption .title_caption {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 0.6rem;
    font-weight: 300;
  }

  .ImgGallery_container .caption .subcontent_caption {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
    font-weight: 200;
  }
}

/* Átlagos laptopok és kisebb monitorok */
@media (min-width: 1280px) and (max-width: 1440px) {
  /* Stílusok átlagos laptopokhoz és kisebb monitorokhoz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable .videoContent_card-content {
    width: 45vw;
    margin: 25vh 0;
  }

  /*
 =============================
    swiper top products
 =============================
 */
  .swiper-slide .swiper-card_wrapper {
    width: 75vw;
  }

  .swiper-slide .card-image {
    width: calc(34vw - (1.2rem + 2 * 2.4rem) + 8px);
    height: 55vh;
    bottom: calc((1.2rem + 2 * 2.4rem) + 8px);
    left: calc(
      ((75vw - 60vw) / 2) + (60vw / 1.2 / (34 - (1.2 + 2 * 2.4) + 8))
    ); /*calc(((.swiper-card_wrapper width - .swiper-card width) / 2) + (.swiper-card width / 1.2 / .card-image width))*/
  }
  .swiper-slide .swiper-card {
    width: 60vw;
    height: 45vh;
  }

  /*
 =============================
    swiper category chooser
 =============================
 */

  /* TODO - video slider reszponzivitását megnézni*/

  /*
 =============================
    brand philosophy + description
 =============================
 */
  .brand-philosophy_wrapper {
    width: 48vw;
  }
  #brand-description .brandContent h1 {
    top: 0rem;
    white-space: wrap;
    position: relative;
    padding: 12px 0 12px 0;
    font-size: clamp(1.15rem, calc(2.1rem + 0.39vw), 3.6rem);
  }

  .brandImages .brandImages_imgHorizontal img {
    width: 30vw;
    transform: translate(-50%, 50%);
  }
}

/* Nagy monitorok, mint a te monitorod */
@media (min-width: 1440px) and (max-width: 2194px) {
  /* Stílusok nagy monitorokhoz, de kisebb mint 2195px */
  /*
 =============================
    brand philosophy + description
 =============================
 */
  #brand-description .brandContent h1 {
    top: 0rem;
    white-space: wrap;
    padding: 12px 0 12px 0;
    position: relative;
    font-size: clamp(1.8rem, calc(2.4rem + 1.39vw), 4rem);
  }
}

/* Még nagyobb monitorok, 2195px és felette */
@media (min-width: 2194px) and (max-width: 2560px) {
  /* Stílusok a 2195px - 2560px közötti monitorokhoz, pl. szélesvásznú vagy ívelt monitor */
}

/* 4K TV-k és monitorok */
@media (min-width: 2560px) and (max-width: 3840px) {
  /* Stílusok 4K TV-khez és monitorokhoz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(2.5rem, calc(1.2rem + 0.39vw), calc(3.2rem + 0.8vw));
    letter-spacing: clamp(calc(1px * 5 / 1), 0.1em, calc(1.5px * 5 / 1));
    line-height: clamp(1.2, 1.3, 1.4);
    font-weight: 200;
    font-style: normal;
  }
}

/* 8K TV-k és monitorok */
@media (min-width: 3840px) and (max-width: 7680px) {
  /* Stílusok 8K TV-khez és monitorokhoz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(2.5rem, calc(2.3rem + 0.39vw), calc(4.2rem + 0.8vw));
    letter-spacing: clamp(calc(1px * 5 / 1), 0.1em, calc(1.5px * 5 / 1));
    line-height: clamp(1.2, 1.3, 1.4);
    font-weight: 200;
    font-style: normal;
  }
}

/* 16K kijelzők */
@media (min-width: 7680px) {
  /* Stílusok 16K kijelzőkhöz */

  /*
 =============================
    welcome video
 =============================
 */
  .videoContent_scrollable p {
    font-family: "Poppins", sans-serif;
    font-size: clamp(2.5rem, calc(2.34rem + 0.66vw), calc(4.8rem + 1.26vw));
    letter-spacing: clamp(calc(1px * 5 / 1), 0.1em, calc(1.5px * 5 / 1));
    line-height: clamp(1.2, 1.3, 1.4);
    font-weight: 200;
    font-style: normal;
  }
}
