@import url("../../css/root.css");
@import url("../../css/font.css");

body {
  /* background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 10vw; */
  background: var(--dark_main);
  color: var(--light_main);
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Karla", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
main {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body::-webkit-scrollbar,
main::-webkit-scrollbar,
.videoContent_wrapper::-webkit-scrollbar,
.videoContent_scrollable::-webkit-scrollbar {
  display: none;
}
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*
 =============================
    welcome video
 =============================
 */

.headScroller_container {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  z-index: 1;
}

.videoScene_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  perspective: 1000px;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 100%, rgb(0, 0, 0) 100%);
}

.videoScene_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 100%);
  opacity: 0;
  transition: opacity 2s ease-in-out;
  z-index: 2;
}

/* Trigger the vignette */
.videoScene_wrapper:hover::before {
  opacity: 1;
}

#welcomeVideo {
  pointer-events: none;
  filter: brightness(1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0%, 0%) scale(1.3); /* Kezdeti állapot */
  transition: transform 1s ease-out;
}

.videoContent_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  right: 0;
  transform: translateY(-100vh);
  width: 100%;
  height: 280vh;
  pointer-events: none;
  margin-left: auto;
  margin-right: 0;
  margin-top: 0;
  padding-top: 0;
}

.videoContent_scrollable {
  display: flex;
  position: relative;
  align-items: center;
  text-align: justify;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
  height: 280vh;
}

.videoContent_scrollable .videoContent_card-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 25vw;
  margin: 25vh 0;
  text-shadow: 1px 0px 10px var(--dark_main), 0 0 20px var(--light_main),
    0 0 40px var(--light_main-op5);
}

.videoContent_scrollable .videoContent_card-content img {
  width: 50vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.videoContent_scrollable p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

/* Alapértelmezett állapot: homályos és láthatatlan */
.videoContent_HIDE {
  opacity: 0;
  filter: var(--blur8);
  transition: opacity 0.4s ease-out, filter 0.8s ease-out;
}

/* Amikor megjelenik: tiszta és látható */
.videoContent_SHOW {
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.4s ease-out, filter 0.8s ease-out;
}

/*
 =============================
    parallax effect under video
 =============================
 */

#Parallax_container {
  display: flex;

  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 50vh;
  transform: translateY(-26%);
  z-index: 3;

  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0) 0%,
    var(--dark_main) 25%,
    var(--dark_main) 75%,
    rgb(0, 0, 0, 0) 100%
  );
}

.Parallax_box {
  width: 100vw;
  height: auto;
  position: absolute;
  will-change: transform;
}

#ImgParallax {
  width: 100vw;
  filter: brightness(0.2) var(--blur2);
}

/*
 =============================
    swiper category chooser
 =============================
 */

#categorychooser {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bg_slider {
  display: flex;
  justify-content: center;
  z-index: 111 !important;
  width: 100%;
  margin-bottom: 2rem;
}

.bg_slider .swiper-slide {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.swiper-slide .img-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%; /* A gradient magassága, igény szerint állítható */
  background: linear-gradient(
    to top,
    var(--dark_main) 0%,
    rgba(0, 0, 0, 0) 60%
  );
  pointer-events: none;
  z-index: 1;
}
.swiper-slide .img-wrapper img {
  filter: grayscale(0.36) brightness(0.84);
  width: 100vw;
  height: auto;
  object-fit: cover;
  transition: filter 0.4s ease-out;
  z-index: 0;
}

.swiper-slide .img-wrapper:hover img {
  filter: grayscale(0) brightness(1);
  transition: filter 0.4s ease-in;
}

/*swiper thumbnail*/
.bg_slider-thumbs {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 777 !important;
  transform: translateY(250%);
  width: 90%;
  overflow: hidden;
}

.bg_slider-thumbs .thumbs-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}

.bg_slider-thumbs .swiper-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
  filter: brightness(1);
  opacity: 1;
  transform: translateX(15%);
  transition: filter 0.4s ease, opacity 0.4s ease;
}

.bg_slider-thumbs .swiper-slide.inactive {
  filter: brightness(0.8) grayscale(0.6);
  opacity: 0.8;
}

.bg_slider-thumbs .swiper-slide.active {
  filter: brightness(1) grayscale(0);
  opacity: 1;
}

.bg_slider-thumbs .swiper-slide .contentImg {
  padding: 12px;
}
.bg_slider-thumbs .swiper-slide .circleImg {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_slider-thumbs .swiper-slide img {
  max-width: 15vw;
  cursor: pointer;
}

/* Nyilak stílusa */
.swiper-button-next,
.swiper-button-prev {
  color: var(--light_main);
  font-size: 20px;
  top: 50%; /* Függőlegesen középre igazítás */
  width: 10px;
  height: 30px;
  margin-top: -15px;
  z-index: 1000;
}
