### .htaccess fájl védelme
<Files .htaccess>
<IfModule mod_authz_core.c>
Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
Order deny,allow
Deny from all
</IfModule>
</Files>
###/ .htaccess fájl védelme

### HTTPS-re történő átirányítás
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
###/ HTTPS-re történő átirányítás


### Bejelentkezési oldal átirányítása
RewriteEngine On
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^settings$ settings.php [L]
RewriteRule ^dashboard$ dashboard.php [L]
###/ Bejelentkezési oldal átirányítása

### Compress HTML, CSS, JavaScript, Text, XML, and fonts
<IfModule mod_deflate.c>
    
    AddOutputFilterByType DEFLATE text/html text/plain text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/javascript
    AddOutputFilterByType DEFLATE application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/atom+xml
    AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
    AddOutputFilterByType DEFLATE application/x-font-ttf
    AddOutputFilterByType DEFLATE font/opentype
    AddOutputFilterByType DEFLATE font/ttf
    AddOutputFilterByType DEFLATE font/otf
    AddOutputFilterByType DEFLATE font/woff
    AddOutputFilterByType DEFLATE font/woff2

    # Exclude images from compression
    SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
</IfModule>
###/ Compress HTML, CSS, JavaScript, Text, XML, and fonts

### Böngésző oldali gyorsítótárazás beállítása
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-javascript "access plus 1 week"
    ExpiresByType application/x-shockwave-flash "access plus 1 month"
    ExpiresByType image/x-icon "access plus 1 year"
    ExpiresDefault "access plus 2 days"
</IfModule>
###/ Böngésző oldali gyorsítótárazás beállítása

### ETag letiltása a teljesítmény javítása érdekében
Header unset ETag
FileETag None
###/ ETag letiltása a teljesítmény javítása érdekében


###Karbantartási szekció
RewriteEngine On
# Engedélyezett IP-címek
RewriteCond %{REMOTE_ADDR} ^176\.63\.5\.234$ [OR]
#RewriteCond %{REMOTE_ADDR} ^203\.0\.113\.1$
# Ha a kérés nem a karbantartas.php oldalra irányul
RewriteCond %{REQUEST_URI} !^/karbantartas\.php$ [NC]
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|woff|woff2|ttf|eot|svg)$ [NC]
RewriteRule ^(.*)$ /karbantartas.php [L]

# Minden más esetben átirányítás a karbantartas.php oldalra
RewriteRule ^(.*)$ /karbantartas.php [L]
###/ Karbantartási szekció

