/* Disable scrolling */
@import url("../../assets/css/font.css");
@import url("../../assets/css/root.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  background: var(--dark_primary);
}

.mol-div {
  aspect-ratio: 9 / 14;
  height: 100vh;
  max-width: calc(100vh * (9 / 14));
  margin: 0 auto;
  background: none;
  overflow: hidden;
}
.mol-div::before {
  content: "";
  position: absolute;
  height: 100vh;
  margin: 0 auto;
  inset: 0; /* top:0; right:0; bottom:0; left:0; ugyanaz */
  max-width: calc(100vh * (9 / 12));
  background: url("../media/images/background_vertical_pg.jpg") center/cover
    no-repeat;

  filter: var(--blur3) brightness(0.7);
  z-index: 0;
}
.dark-filter {
  position: absolute;
  height: 100vh;
  margin: 0 auto;
  max-width: calc(100vh * (9 / 10));
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    to left,
    var(--dark_primary),
    var(--dark_primary) 10%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 70%,
    var(--dark_primary) 80%,
    var(--dark_primary)
  );
}
.mol-div-content {
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: 0 auto;
  inset: 0; /* top:0; right:0; bottom:0; left:0; ugyanaz */
}

/* .background {
  position: fixed;
  top: 0;
  left: -5%;
  width: 110%;
  height: 110%;

  filter: blur(10px) brightness(0.6) grayscale(0.4);
  z-index: -1;
}
@media (orientation: landscape) {
  .background {
    background: url("../media/images/background_horizontal.jpg") center/cover
      no-repeat;
  }
} */
body::before,
body::after {
  content: "";
  position: fixed;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, var(--dark_primary), transparent);
  pointer-events: none;
  z-index: 0;
}

body::after {
  top: auto;
  bottom: 0;
  background: linear-gradient(to top, var(--dark_primary), transparent);
}

@media (min-width: 320px) {
  /* Halo effekt */
  #halo_container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    inset: 0;
    z-index: 5;
  }

  .halo {
    position: relative;
    width: calc(70vh * (9 / 14));
    height: calc(70vh * (9 / 14));
    border: 15px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 55px rgb(255, 255, 255);
    -webkit-transition: border 0.2s, box-shadow 0.2s ease;
    -moz-transition: border 0.2s, box-shadow 0.2s ease;
    -o-transition: border 0.2s, box-shadow 0.2s ease;
    -ms-transition: border 0.2s, box-shadow 0.2s ease;
    transition: border 0.2s, box-shadow 0.2s ease;
    opacity: 1;
  }

  .halo.dimmed {
    opacity: 1;
    border: 15px solid rgb(200, 200, 200);
    box-shadow: 0 0 25px rgb(200, 200, 200);
  }

  .halo.vibrating {
    opacity: 1;
    border: 15px solid rgb(150, 150, 150);
    box-shadow: 0 0 50px rgb(150, 150, 150);
  }
  /* pontok a monitoron */
  .dot-grid-01 {
    position: absolute;
    z-index: 6;
    top: 25%;
    left: calc((8 * 10px) + 30px + 5%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(8, 10px); /* 5 oszlop, 10px méret */
    grid-gap: 30px; /* Távolság a pontok között */
  }

  .dot-grid-02 {
    position: absolute;
    z-index: 6;
    bottom: -2%;
    right: calc((3 * 10px) + 40px + 5%);
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-gap: 40px;
  }

  .dot-grid .dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
  }

  .dot-grid .x-dot {
    position: relative;
    width: 8px;
    height: 8px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 2s linear infinite;
  }
  .x-dot::before,
  .x-dot::after {
    content: "";
    position: absolute;
    width: 20px; /* X átlós vonalainak hossza */
    height: 2px; /* Vonal vastagsága */
    background-color: white; /* Vonal színe */
    transform-origin: center;
  }

  .x-dot::before {
    transform: rotate(45deg); /* Első vonal */
  }

  .x-dot::after {
    transform: rotate(-45deg); /* Második vonal */
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .white-square {
    position: absolute;
    user-select: none;
    z-index: 7;
    background-color: white; /* Szín */
  }
  .runes {
    position: absolute;
    color: white;
    top: 15%; /* Tetszőleges hely */
    right: 5%; /* Tetszőleges hely */
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 200;
    font-size: clamp(0.15rem, calc(1rem + 0.39vw), 4.5rem);
    display: inline-block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    margin: 0;
    padding: 0;
  }
  .square_01 {
    top: 0%; /* Tetszőleges hely */
    right: 10%; /* Tetszőleges hely */
    bottom: 15%; /* Tetszőleges hely */
    width: 150px;
    height: 330px;
  }

  .square_02 {
    bottom: 15%; /* Tetszőleges hely */
    left: 5%; /* Tetszőleges hely */
    rotate: 90deg;
    width: 8px;
    height: 300px;
  }
  .square_03 {
    bottom: 18%; /* Tetszőleges hely */
    left: 20%; /* Tetszőleges hely */
    rotate: 90deg;
    width: 2px;
    height: 200px;
  }

  .square_04 {
    bottom: -3%; /* Tetszőleges hely */
    left: 10%; /* Tetszőleges hely */
    rotate: 90deg;
    width: 60px;
    height: 300px;
  }

  .paragraph_quoteL,
  .paragraph_quoteR {
    position: absolute;
    user-select: none;
    z-index: 7;
    width: 300px;
    color: white;

    font-family: "Poppins";
  }
  .paragraph_quoteL {
    border-left: 4px solid white;
    padding-left: 10px;
  }
  .paragraph_quoteR {
    border-right: 4px solid white;
    padding-right: 10px;
    text-align: right;
  }
  .paragraph_quoteL p,
  .paragraph_quoteR p {
    padding-left: 12px;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 100;
    text-shadow: 1px 0px 5px black;
  }

  .quote01 {
    top: 10%; /* Tetszőleges hely */
    left: 5%; /* Tetszőleges hely */
  }
  .quote02 {
    bottom: 33%; /* Tetszőleges hely */
    right: 0; /* Tetszőleges hely */
  }

  #mainTitle {
    position: absolute;
    z-index: 7;
    top: 30%;
    left: 40%;
    text-transform: uppercase;
    font-family: "Poppins";
    color: white;
    font-weight: 700;
    font-size: clamp(2.15rem, calc(4.8rem + 0.39vw), 5.5rem);
    display: inline-block;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 0;
    margin: 0;
    user-select: none;
  }

  #pfpImage_container {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 5;
    display: flex;
    gap: 20px;
    width: calc(100vh * (9 / 14));
    height: 100vh;
    align-items: center;
  }

  .pfpImage_wrapper {
    position: absolute;
    width: calc(58vh * (9 / 14));
    height: auto;
    overflow: hidden;
  }

  .pfpImage_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #Profile_M {
    left: 40%;
    top: 38%;
    width: calc(43vh * (9 / 14));
  }
  #Profile_B {
    left: 7%;
    top: 37%;
  }
}

@media (min-width: 1280px) {
}
