.input-group-inline {
    display: flex;
    gap: 0.5rem;
}

.input-group-inline > .input-group,
.input-group-inline > .notice {
    height: fit-content;
    width: 50%;
}

.input-group-inline > .notice {
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 0;
}

.input-group-hideable {
    overflow: hidden;
}

.input-group-check {
    user-select: none;
}

.input-group {
    margin-bottom: 0.5rem;
    position: relative;
}

.input-group > .input-body {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 5px;
    min-width: 0px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease, border-color 0.3s ease;
    background-color: var(--background-light) !important;
    display: flex;
}

.input-group > .input-body:focus-within {
    outline: 2px solid grey;
}

.show-password {
    width: 48px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.show-password > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

input:not(.shown) ~ .show-password > .eye-show.default {
    opacity: 1;
    pointer-events: auto;
}

input:not(.shown) ~ .show-password > .eye-show.hover {
    opacity: 0;
    pointer-events: none;
}

input:not(.shown) ~ .show-password:hover > .eye-show.hover {
    opacity: 1;
    pointer-events: auto;
}

input:not(.shown) ~ .show-password:hover > .eye-show.default {
    opacity: 0;
    pointer-events: none;
}

input.shown ~ .show-password > .eye-hide.default {
    opacity: 1;
    pointer-events: auto;
}

input.shown ~ .show-password > .eye-hide.hover {
    opacity: 0;
    pointer-events: none;
}

input.shown ~ .show-password:hover > .eye-hide.hover {
    opacity: 1;
    pointer-events: auto;
}

input.shown ~ .show-password:hover > .eye-hide.default {
    opacity: 0;
    pointer-events: none;
}

.input-group input,
.input-group select {
    cursor: not-allowed;
    padding: 0.5rem;
    padding-top: 1.6rem;
    font-family: Karla;
    font-size: 16px;
    line-height: 20px;
    color: white !important;
    background-color: transparent !important;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.input-group select {
    padding: 0.3rem;
    padding-top: 1.4rem;
}

.input-group option {
    color: black;
}

.input-group input:enabled {
    cursor: text;
}

.input-group label {
    z-index: 10;
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 17px;
    left: 0.5rem;
    width: 100%;
    height: 16px;
    color: rgb(176, 176, 176);
    font-size: 14px;
    will-change: transform;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: left;
    backface-visibility: hidden;
}

.input-group label.focus,
.input-group:has(input:enabled):not(:has(.show-password:focus-within)):focus label,
.input-group:has(input:-webkit-autofill) label {
    transform: translateY(-10px) translateZ(0);
}

.input-group label.focus ~ select,
.input-group label.focus ~ input,
.input-group:focus-within label ~ select,
.input-group:has(input:-webkit-autofill) label ~ input,
.input-group:has(input:-webkit-autofill) label ~ select {
    opacity: 1;
}

.input-group .message-wrapper {
    pointer-events: none;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.input-group .error-message {
    padding-top: .2rem;
    padding-left: 1px;
    width: 100%;
    font-size: 12px;
    color: rgb(255, 97, 97);
}

.input-group .edit-toggler {
    min-width: 35px;
    height: 100%;
    position: relative;
}

.input-group .edit-toggler > svg {
    width: 35px;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.3s ease, opacity 0.2s ease;
    color: rgb(107, 107, 107);
}

.input-group .edit-toggler > svg:hover {
    color: white;
}

.input-group > .input-body:has(input:disabled) > .edit-toggler > .edit {
    z-index: 10;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
}

.input-group > .input-body:has(input:disabled) > .edit-toggler > .save {
    z-index: -1;
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
}

.input-group > .input-body:has(input:enabled) > .edit-toggler > .edit {
    z-index: -1;
    transform: scale(0) translate(-50%, -50%);
    opacity: 0;
}

.input-group > .input-body:has(input:enabled) > .edit-toggler > .save {
    z-index: 10;
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
}

.input-group:has(input.invalid, select.invalid) > .input-body {
    border-color: rgb(255, 75, 75);
}

.input-group:has(input.invalid, select.invalid) > .input-body:focus-within {
    outline-color: rgba(255, 75, 75, 0.719);
}

.input-group:has(input.invalid, select.invalid) label {
    color: rgb(255, 97, 97);
}

.input-group:has(.edit-toggler) > .input-body {
    display: flex;
}

.input-group.input-group-half {
    width: calc(50% - 0.25rem);
}

/* AUTOFILL CSS FIX */
.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active,
.input-group select:-webkit-autofill,
.input-group select:-webkit-autofill:hover,
.input-group select:-webkit-autofill:focus,
.input-group select:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 100000px var(--background-light) inset !important;
    caret-color: white !important; /* For cursor color */
    background-color: var(--background-light) !important;
}

.input-group input,
.input-group select {
    color-scheme: dark;
    background-color: var(--background-light) !important;
}

.input-group option {
    background-color: var(--background-light);
    color: white !important;
}
/* END AUTOFILL CSS FIX*/

/* PASSWORD INPUT ADDITIONAL CSS */

.password-input {
    width: 50%;
    margin-bottom: 1rem;
}

.password-input > .password-state {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    padding-left: 0.5rem;
}

.password-input > .password-state > .matcher {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    color: #727272;
    font-size: 15px;
    transition: color 0.3s ease;
}

.password-input > .password-state > .matcher > .state {
    height: 15px;
    width: 15px;
    flex-shrink: 0;
    color: #5a5a5a;
    transition: color 0.3s ease;
}

.password-input > .password-state > .matcher > .state > .valid {
    display: none;
}

.password-input > .password-state > .matcher > .state > .invalid {
    display: block;
}

/* Helyes matcher stílus */
.password-input > .password-state > .matcher.valid {
    color: #8dc949;
}

.password-input > .password-state > .matcher.valid > .state {
    color: #8dc949;
}

.password-input > .password-state > .matcher.valid > .state > .valid {
    display: block;
}

.password-input > .password-state > .matcher.valid > .state > .invalid {
    display: none;
}