@import url('./root.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Base styles */
body {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Karla;
    font-weight: 500;
    overflow-y: hidden;
}

/* input.autofilled {
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    color: fieldtext !important;
} */

.main {
    width: 100% !important;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
}
/*Firefox nem támogatja a dvh-t*/
@supports(height: 100dvh) { 
    body {
        height: 100dvh;
    }
    .main {
        height: 100dvh;
    }
}

.side-image {
    flex-grow: 1;
    width: 50%;
    background-color: #171717;
    position: relative;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
  }

.bg.visible {
    opacity: 1;
}

form {
    min-width: 400px;
    overflow-y: auto;
    width: 50%;
    flex-shrink: 0;
    max-height: 100vh;
    flex-grow: 1;
    padding: 20px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #FAFAFA;
    height: 100%;
}

.form-header {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.form-header h1 {
    font-size: 40px;
}

.form-header div {
    color: #565656;
}

.form-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form-bottom {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 6rem;
    margin-top: 1rem;
}

.input-wrapper { 
    width: 80%;
    flex-shrink: 0;
    height: 200px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.checkbox-group input[type="checkbox"] {
    cursor: pointer;
}

.checkbox-group label {
    margin-left: 0.5rem;
    color: rgb(20, 20, 20);
    cursor: pointer;
    font-size: 14px;
}

.action-button {
    padding-inline: 10px;
    padding-block: 10px;
    margin-bottom: 10px;
    width: 100%;
    transition: border 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    color: white;
    box-shadow: 0px 0px 0px var(--border);
    background-color: #565656;
    border: 4px solid #9f9f9f;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 15px;
}

.action-button:hover {
    border: 4px solid #83b680;
    background-color: #3a5b32;
    box-shadow: 0px 0px 10px greenyellow;
}

.form-link {
    text-decoration: underline;
}

.register {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
}

#forgotPassword {
    font-size: 14px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 5px;
    font-size: 0.875rem;
}

form input[type="checkbox"] {
    width: 15px;
}

.form-message {
    font-style: italic;
    height: auto;
    min-height: 60px;
    color: red;
    animation: shake 0.5s;
    animation-timing-function: ease;
}

.message-container {
    position: relative;
    width: 100%;
    min-height: 60px;
    margin-bottom: 1rem;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.loader.hidden {
    opacity: 0;
    pointer-events: none;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3a5b32;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.message-success, .message-error {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    line-height: 35px;
}

.message-success {
    background-color: #d4edda;
    color: #155724 !important;
    border: 1px solid #c3e6cb;
}

.message-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 500px) {
    form {
        padding: 0;
    }
    .input-group-inline {
        flex-direction: column-reverse !important;
        padding-inline: 0 !important;
    }

    .input-group-inline > a {
        margin-inline: 0 !important;
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 579px) {
    body {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .side-image {
        display: none;
    }
    .main {
        background-color: rgba(250, 250, 250, 0.85);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100%;
        border: 3px solid transparent;
        border-radius: 0px;
    }
    .main > form {
        flex-shrink: 0 !important;
        min-width: 0 !important;
        max-width: 100%;
    }
}