:root {
    --border: #7d7d7d;
    --line-height: 24px;
    --padding: 16px 24px;
    --text: #222222;
    --text-light: #555555;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    font-weight: 500;
}

form {
    padding: 20px;
    border: 4px solid var(--border);
    width: 500px;
    height: 550px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #FAFAFA;
    box-shadow: 0px 0px 20px var(--border);

    .form-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 70px;
        gap: 10px;
        
        h1 {
            font-size: 40px;
        }
    }

    .input-wrapper {
        width: 70%;
    }

    .input-group {
        margin-block: 20px;
        width: 100%;
        position: relative;
        transition: all 0.3s ease;
        border-bottom: 3px solid rgb(68, 134, 73);
        
    }
    .input-group input {
        height: 100%;
        width: 100%;
        border: none;
        background-color: transparent;
        outline: none;
        font-size: 16px;
    }
    
    .input-group label {
        transition: all 0.3s ease;
        position: absolute;
        bottom: 8px;
        cursor: text;
        padding-left: 8px;
        color: var(--text-light);
        user-select: none;
    }

    .input-group:has(input:focus) label, .input-group:has(input:valid) label {
        transform: translateY(-20px);
        font-size: 14px;
        color: rgb(118, 118, 118);
    }

    .input-group-inline {
        margin-block: 5px;
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .input-group-inline > label {
        flex-grow: 1;
        padding-left: 10px;
    }

    .action-button {
        padding-inline: 10px;
        padding-block: 10px;
        width: 50%;
        position: absolute;
        bottom: 0;
        bottom: 70px;
        transition: all 0.3s ease;
        color: white;
        box-shadow: 0px 0px 0px var(--border);
        background-color: #565656;
        border: 4px solid #9f9f9f;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 10px;
    }

    .action-button:hover {
        scale: 1.05;
        /* letter-spacing: 1px; */
        border: 4px solid #83b680;
        background-color: #3a5b32;
        box-shadow: 0px 0px 10px var(--border);
    }
    .action-button:active {
        scale: 0.95;
    }

    .form-link {
        text-decoration: none;
        border-bottom: 1px solid;
        transition: all 0.2s ease;
    }
    .form-link:hover {
        letter-spacing: 1px;
    }
    .form-link:active {
        letter-spacing: 0.5px;
    }

    #forgotPassword {
        position: absolute;
        bottom: 35px;
        font-size: 14px;
    }

    input[type="text"], input[type='password'] {
        padding: 8px;
        border-radius: 4px;
    }

    input[type="checkbox"] {
        width: 15px;
    }

    .form-message {
        position: absolute;
        bottom: 150px;
        font-style: italic;
        margin-top: 20px;
        color: red;
        animation: shake 0.5s;
        animation-timing-function: ease;
    }
}

@keyframes shake {
    0% {transform: translateX(0px);}
    6% {transform: translateX(-5px);}
    12% {transform: translateX(0px);}
    18% {transform: translateX(5px);}
    24% {transform: translateX(0px);}
    36% {transform: translateX(-3px);}
    42% {transform: translateX(0px);}
    48% {transform: translateX(3px);}
    54% {transform: translateX(0px);}
    66% {transform: translateX(-2px);}
    72% {transform: translateX(0px);}
    78% {transform: translateX(2px);}
    84% {transform: translateX(0px);}
    90% {transform: translateX(-1px);}
    96% {transform: translateX(0px);}
    100% {transform: translateX(1px);}
}