/*/
    Font import
/*/
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: Cubano;
  font-display: swap;
  src: url("../font/Cubano.ttf");
}

/*/
    Betúk jelentései:
    t = text
    la = large
    me = medium
    mi = mini
    w = wide
    n = narrow
    5...1 - legszélesebbtől a legszűkebbik terjedő letter-spacing (attól függ, hogy + vagy -, hogy w vagy n van előtte)
    01...09 - legnagyobbtól a legkisebbik terjedő számskála
/*/

/*/
/---------/---------/
    LARGE TEXT
/---------/---------/
/*/
/*__t01*/
.__t01-law1 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(1px * 1 / 1), 0.1em, calc(1.5px * 1 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-law2 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(1px * 2 / 1), 0.1em, calc(1.5px * 2 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-law3 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(1px * 3 / 1), 0.1em, calc(1.5px * 3 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-law4 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(1px * 4 / 1), 0.1em, calc(1.5px * 4 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-law5 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(1px * 5 / 1), 0.1em, calc(1.5px * 5 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}

.__t01-lan1 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(-1.5px * 1 / 1), -0.1em, calc(-1px * 1 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-lan2 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(-1.5px * 2 / 1), -0.1em, calc(-1px * 2 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-lan3 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(-1.5px * 3 / 1), -0.1em, calc(-1px * 3 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-lan4 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(-1.5px * 4 / 1), -0.1em, calc(-1px * 4 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t01-lan5 {
  font-size: clamp(1.5rem, calc(3.36rem + 0.39vw), 5.2rem);
  letter-spacing: clamp(calc(-1.5px * 5 / 1), -0.1em, calc(-1px * 5 / 1));
  line-height: clamp(1.2, 1.3, 1.4);
}
/*__t02*/
.__t02-law1 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(1px * 1 / 2), 0.1em, calc(1.5px * 1 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-law2 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(1px * 2 / 2), 0.1em, calc(1.5px * 2 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-law3 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(1px * 3 / 2), 0.1em, calc(1.5px * 3 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-law4 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(1px * 4 / 2), 0.1em, calc(1.5px * 4 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-law5 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(1px * 5 / 2), 0.1em, calc(1.5px * 5 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}

.__t02-lan1 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(-1.5px * 1 / 2), -0.1em, calc(-1px * 1 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-lan2 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(-1.5px * 2 / 2), -0.1em, calc(-1px * 2 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-lan3 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(-1.5px * 3 / 2), -0.1em, calc(-1px * 3 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-lan4 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(-1.5px * 4 / 2), -0.1em, calc(-1px * 4 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t02-lan5 {
  font-size: clamp(1.15rem, calc(1.8rem + 0.39vw), 3.1rem);
  letter-spacing: clamp(calc(-1.5px * 5 / 2), -0.1em, calc(-1px * 5 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}

/*__t03*/
.__t03-law1 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(1px * 1 / 3), 0.1em, calc(1.5px * 1 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-law2 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(1px * 2 / 3), 0.1em, calc(1.5px * 2 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-law3 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(1px * 3 / 3), 0.1em, calc(1.5px * 3 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-law4 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(1px * 4 / 3), 0.1em, calc(1.5px * 4 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-law5 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(1px * 5 / 3), 0.1em, calc(1.5px * 5 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}

.__t03-lan1 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(-1.5px * 1 / 3), -0.1em, calc(-1px * 1 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-lan2 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(-1.5px * 2 / 3), -0.1em, calc(-1px * 2 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-lan3 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(-1.5px * 3 / 3), -0.1em, calc(-1px * 3 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-lan4 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(-1.5px * 4 / 3), -0.1em, calc(-1px * 4 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}
.__t03-lan5 {
  font-size: clamp(1.1rem, calc(1.2rem + 0.39vw), 2.6rem);
  letter-spacing: clamp(calc(-1.5px * 5 / 3), -0.1em, calc(-1px * 5 / 2));
  line-height: clamp(1.2, 1.3, 1.4);
}

/*/
/---------/---------/
    MEDIUM TEXT
/---------/---------/
/*/

.__t01-mew1 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(1px * 1 / 1), 0.08em, calc(1.2px * 1 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-mew2 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(1px * 2 / 1), 0.08em, calc(1.2px * 2 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-mew3 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(1px * 3 / 1), 0.08em, calc(1.2px * 3 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-mew4 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(1px * 4 / 1), 0.08em, calc(1.2px * 4 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-mew5 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(1px * 5 / 1), 0.08em, calc(1.2px * 5 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}

.__t01-men1 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(-1px * 1 / 1), -0.08em, calc(-0.2px * 1 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-men2 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(-1px * 2 / 1), -0.08em, calc(-0.2px * 2 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-men3 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(-1px * 3 / 1), -0.08em, calc(-0.2px * 3 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-men4 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(-1px * 4 / 1), -0.08em, calc(-0.2px * 4 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t01-men5 {
  font-size: clamp(1rem, calc(0.9rem + 0.39vw), 2.4rem);
  letter-spacing: clamp(calc(-1px * 5 / 1), -0.08em, calc(-0.2px * 5 / 1));
  line-height: clamp(1.24, 1.36, 1.6);
}

/*__t02*/

.__t02-mew1 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(1px * 1 / 2), 0.08em, calc(1.2px * 1 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-mew2 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(1px * 2 / 2), 0.08em, calc(1.2px * 2 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-mew3 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(1px * 3 / 2), 0.08em, calc(1.2px * 3 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-mew4 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(1px * 4 / 2), 0.08em, calc(1.2px * 4 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-mew5 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(1px * 5 / 2), 0.08em, calc(1.2px * 5 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}

.__t02-men1 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(-1px * 1 / 2), -0.08em, calc(-0.2px * 1 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-men2 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(-1px * 2 / 2), -0.08em, calc(-0.2px * 2 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-men3 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(-1px * 3 / 2), -0.08em, calc(-0.2px * 3 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-men4 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(-1px * 4 / 2), -0.08em, calc(-0.2px * 4 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t02-men5 {
  font-size: clamp(0.9rem, calc(0.6rem + 0.39vw), 1.6rem);
  letter-spacing: clamp(calc(-1px * 5 / 2), -0.08em, calc(-0.2px * 5 / 2));
  line-height: clamp(1.24, 1.36, 1.6);
}

/*__t03*/

.__t03-mew1 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(1px * 1 / 3), 0.08em, calc(1.2px * 1 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-mew2 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(1px * 2 / 3), 0.08em, calc(1.2px * 2 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-mew3 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(1px * 3 / 3), 0.08em, calc(1.2px * 3 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-mew4 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(1px * 4 / 3), 0.08em, calc(1.2px * 4 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-mew5 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(1px * 5 / 3), 0.08em, calc(1.2px * 5 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}

.__t03-men1 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(-1px * 1 / 3), -0.08em, calc(-0.2px * 1 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-men2 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(-1px * 2 / 3), -0.08em, calc(-0.2px * 2 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-men3 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(-1px * 3 / 3), -0.08em, calc(-0.2px * 3 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-men4 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(-1px * 4 / 3), -0.08em, calc(-0.2px * 4 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}
.__t03-men5 {
  font-size: clamp(0.8rem, calc(0.48rem + 0.39vw), 1.4rem);
  letter-spacing: clamp(calc(-1px * 5 / 3), -0.08em, calc(-0.2px * 5 / 3));
  line-height: clamp(1.24, 1.36, 1.6);
}

/*/
/---------/---------/
    MINI TEXT
/---------/---------/
/*/
