.flex-block {
  display: flex !important;
  flex: 1;
}

.col-1 {
  width: calc((100vw / 12) * 1) !important;
}
.col-2 {
  width: calc((100vw / 12) * 2) !important;
}
.col-3 {
  width: calc((100vw / 12) * 3) !important;
}
.col-4 {
  width: calc((100vw / 12) * 4) !important;
}
.col-5 {
  width: calc((100vw / 12) * 5) !important;
}
.col-6 {
  width: calc((100vw / 12) * 6) !important;
}
.col-7 {
  width: calc((100vw / 12) * 7) !important;
}
.col-8 {
  width: calc((100vw / 12) * 8) !important;
}
.col-9 {
  width: calc((100vw / 12) * 9) !important;
}
.col-10 {
  width: calc((100vw / 12) * 10) !important;
}
.col-11 {
  width: calc((100vw / 12) * 11) !important;
}
.col-12 {
  width: calc((100vw / 12) * 12) !important;
}

.col-1_inner {
  width: calc((100% / 12) * 1) !important;
}
.col-2_inner {
  width: calc((100% / 12) * 2) !important;
}
.col-3_inner {
  width: calc((100% / 12) * 3) !important;
}
.col-4_inner {
  width: calc((100% / 12) * 4) !important;
}
.col-5_inner {
  width: calc((100% / 12) * 5) !important;
}
.col-6_inner {
  width: calc((100% / 12) * 6) !important;
}
.col-7_inner {
  width: calc((100% / 12) * 7) !important;
}
.col-8_inner {
  width: calc((100% / 12) * 8) !important;
}
.col-9_inner {
  width: calc((100% / 12) * 9) !important;
}
.col-10_inner {
  width: calc((100% / 12) * 10) !important;
}
.col-11_inner {
  width: calc((100% / 12) * 11) !important;
}
.col-12_inner {
  width: calc((100% / 12) * 12) !important;
}
