RewriteEngine On

# Bejelentkezési oldal átirányítása
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^register$ register.php [L]
RewriteRule ^profile$ profile.php [L]
RewriteRule ^dashboard$ dashboard.php [L]

# Fájl eléréseinek letiltása
<Files "README.md">
    Require all denied
</Files>
