* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../../assets/font/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
    /* font-weight: 100 900; A betűtípus vastagsági tartománya */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/font/Roboto-Regular.woff2") format("woff2");
    /* font-weight: 100 900; A betűtípus vastagsági tartománya */
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #050505;
    --background-light: #1d1d1d;
    --text: #ffffff;
    --border: #2b2b2b;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: var(--background-light);
    color: var(--text);
    min-height: 100vh;
    font-family: Arial;
    display: flex;
    align-items: center;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    --is-mobile: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-block: 1rem;
    flex-direction: column;
}

main > form {
    flex-grow: 1;
}

main > form > header {
    font-size: 40px;
}

main > .order-details {
    border-radius: 5px;
    background-color: #292929;
}

header {
    font-family: Playfair Display;
    margin-bottom: 1rem;
}

form > section {
    padding-block: 0.5rem;
}

form > section header {
    color: rgb(224, 224, 224);
    font-size: 25px;
    margin-bottom: 1rem;
    position: relative;
}

form > section header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + 2px);
    height: 1px;
    background: linear-gradient(to right,rgb(224, 224, 224), transparent);
}

form > section.hideable {
    overflow: hidden;
    padding-block: 0;
    height: 0;
    opacity: 0;
}

form > section.hideable > .section-wrapper {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
}

form > section:has(.input-group-hideable) > * {
    padding: 0.5rem;
}

form > section:has(.input-group-hideable) > header::after {
    margin-left: 0.5rem;
}

form > *:not(section.hideable):not(section:has(.input-group-hideable)) {
    margin-inline: 0.5rem;
}

.input-group-inline {
    display: flex;
    gap: 0.5rem;
}

.input-group-inline > .input-group {
    width: 50%;
}

.input-group-hideable {
    overflow: hidden;
}

.input-group-check {
    user-select: none;
}

.input-group {
    margin-bottom: 0.5rem;
    position: relative;
}

.input-group > .input-body {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(55, 55, 55);
    border-radius: 5px;
    min-width: 0px;
    outline: 2px solid transparent;
    transition: outline 0.3s ease, border-color 0.3s ease;
    background-color: var(--background-light) !important;
}

.input-group > .input-body:has(input:focus-within) {
    outline: 2px solid grey;
}

.input-group input, select {
    padding: 0.5rem;
    padding-top: 1.6rem;
    font-family: Roboto;
    font-size: 16px;
    line-height: 20px;
    color: white !important;
    background-color: transparent !important;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.input-group select {
    padding: 0.3rem;
    padding-top: 1.4rem;
    opacity: 1 !important;
    /* color-scheme: dark; */
}

.input-group option {
    /* color-scheme: dark; */
    color: black;
}

.input-group label {
    z-index: 10;
    position: absolute;
    pointer-events: none;
    user-select: none;
    top: 17px;
    left: 0.5rem;
    width: 100%;
    height: 16px;
    color: rgb(176, 176, 176);
    font-size: 14px;
    will-change: transform, font-size;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: left;
    backface-visibility: hidden;
}

.input-group label.focus, .input-group:has(input:focus-within) label {
    transform: translateY(-10px) translateZ(0);
}

.input-group label.focus ~ select, .input-group label.focus ~ input, .input-group:focus-within label ~ select, .input-group:focus-within label ~ input{
    opacity: 1;
}

.input-group .message-wrapper {
    pointer-events: none;
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}

.input-group .error-message {
    padding-top: .5rem;
    padding-left: 1px;
    width: 100%;
    font-size: 12px;
    color: rgb(255, 97, 97);
}

.input-group:has(input.invalid, select.invalid) .input-body {
    border-color: rgb(255, 75, 75);
}

.input-group:has(input.invalid, select.invalid) .input-body:focus-within {
    outline-color: rgba(255, 75, 75, 0.719);
}

.input-group:has(input.invalid, select.invalid) label {
    color: rgb(255, 97, 97);
}

/* AUTOFILL CSS FIX */
.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active,
.input-group select:-webkit-autofill,
.input-group select:-webkit-autofill:hover,
.input-group select:-webkit-autofill:focus,
.input-group select:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 100000px var(--background-light) inset !important;
    caret-color: white !important; /* For cursor color */
    background-color: var(--background-light) !important;
}

.input-group input,
.input-group select {
    color-scheme: dark;
    background-color: var(--background-light) !important;
}

.input-group option {
    background-color: var(--background-light);
    color: white !important;
}
/* END AUTOFILL CSS FIX*/

.purchase-type-radios {
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    position: relative;
}

.purchase-type-radios > .radio {
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #858585; 
    transition: color 0.5s ease;
    user-select: none;
}

.purchase-type-radios > .radio.checked {
    color: white;
    cursor: auto;
}

.purchase-type-radios > .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
    --left: 0%;
    --right: calc(var(--left) + 50%);
    background: linear-gradient(to bottom, #858585 var(--left), white var(--left), white var(--right), #858585 var(--right));
}

.order-details {
    margin-inline: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
    font-family: Roboto;
}

.order-details > header {
    color: white;
    font-size: 25px;
    position: relative;
}

.order-details > header::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + 2px);
    height: 1px;
    background: linear-gradient(to right,rgb(224, 224, 224), transparent);
}

.order-details > .items {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    max-height: 440px;
}

.order-details .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.order-details .item > .item-image {
    position: relative;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
}

.order-details .item > .item-image > picture {
    display: block;
    width: 100%;
    height: 100%;
}

.order-details .item > .item-image > picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-details .item-body {
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
}

.order-details .item-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
}

.order-details .item-name {
    font-family: Playfair Display;
    font-size: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    max-width: 100%;
}

.order-details .item-price, .price {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    height: 18px;
}

.order-details .quantity {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-grow: 1;
    color: #d5d5d5;
}

.order-details .value {
    font-size: 18px;
}

.order-details .currency {
    font-size: 14px;
    line-height: 26px;
    color: rgb(187, 187, 187);
}

.order-details .price {
    height: auto;
    display: flex;
    flex-direction: column;
    color: #eeeeee;
}

.order-details .inline-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.order-details .tax {
    font-style: italic;
    color: rgb(187, 187, 187);
}

.order-details .total {
    padding: 0;
    padding-top: 1rem;
}

.order-details .total .value, .total .label {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.order-details .total .currency {
    line-height: 30px;
    font-size: 16px;
}

.order-details .payment-button {
    background-color: transparent;
    color: rgb(171, 255, 87);
    border: 2px solid rgb(171, 255, 87);
    font-family: Roboto;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    padding-block: 0.8rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.order-details .payment-button:hover {
    background-color: rgba(171, 255, 87, 0.105);
}

.order-details .payment-button:active {
    background-color: rgba(171, 255, 87, 0.037);
}

.checkout-result-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    background-color: #1d1d1de0;
    backdrop-filter: blur(3px);
    visibility: hidden;
}

.checkout-result-overlay * {
    will-change: transform;
}

.checkout-result-overlay-body {
    padding: 1rem;
}

.checkout-result-overlay-body > div,
.checkout-result-overlay-body > p {
    opacity: 0;
}

.checkout-result-overlay .thank-you {
    text-align: center;
    font-size: 40px;
    font-family: Playfair Display;
    color: #86d72f;
    margin-bottom: 2rem;
}

.checkout-result-overlay p {
    color: #dbdbdb;
    font-size: 16px;
    text-align: center;
}

.checkout-result-overlay .from {
    margin-top: 1rem;
    text-align: right;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.checkout-result-overlay .flower {
    position: absolute;
    width: 300px;
    height: 600px;
    opacity: 1;
}

.checkout-result-overlay #flower-1 {
    top: -150px;
    left: -400px;
    rotate: 15deg;
    z-index: 3;
}

.checkout-result-overlay #flower-2 {
    top: -150px;
    right: -400px;
    rotate: -90deg;
    filter: blur(5px) brightness(0.8);
    z-index: 2;
}

.checkout-result-overlay #flower-3 {
    bottom: -150px;
    left: -300px;
    rotate: 30deg;
    filter: blur(8px) brightness(0.5);
    z-index: 1;
}

checkout-result-overlay .back-to-home {
    transform: translateY(calc(100% + 2rem));
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 50px;
    position: absolute;
    bottom: 2rem;
    transition: background-color 0.2s ease;
}

.checkout-result-overlay .back-to-home > svg {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

.checkout-result-overlay .back-to-home:hover {
    background-color: rgba(255, 255, 255, 0.164);
}

.checkout-error-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    background-color: #1d1d1de0;
    backdrop-filter: blur(3px);
    visibility: hidden;
    color: rgb(255, 97, 97);
    font-size: 20px;
    text-align: center;
}

.checkout-error-overlay > svg {
    fill: rgb(255, 75, 75);
    opacity: 0;
    transform: scale(0);
    will-change: opacity, transform;
    width: 100px;
    height: 100px;
}

.checkout-error-overlay .overlay-close {
    transform: translateY(82px);
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    text-decoration: none;
    color: rgb(255, 75, 75);
    background-color: transparent;
    cursor: pointer;
    border: 2px solid rgb(255, 75, 75);
    padding: 1rem;
    border-radius: 50px;
    position: absolute;
    bottom: 2rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    letter-spacing: 1px;
}

.checkout-error-overlay .overlay-close:hover {
    background-color: rgba(255, 75, 75, 0.212);
    color: white;
}

.checkout-error-overlay .overlay-body {
    opacity: 0;
    will-change: opacity;
}

.notice {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.8rem;
    align-items: center;
    margin-block: 1rem;
    font-family: Karla;
    color: rgb(255, 203, 91);
    background-color: rgba(255, 203, 91, 0.068);
    padding: 1rem 0.8rem;
    border-radius: 5px;
}

.notice > svg {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

@media screen and (min-width: 444px) {
    .notice {
        flex-direction: row;
        text-align: left;
    }

    .purchase-type-radios {
        flex-direction: row;
    }

    .purchase-type-radios > .radio {
        width: 50%;
    }

    .purchase-type-radios > .border {
        width: 100%;
        height: 2px;
        --left: 0%;
        --right: calc(var(--left) + 50%);
        background: linear-gradient(to right, #858585 var(--left), white var(--left), white var(--right), #858585 var(--right));
    }
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .order-details {
        width: 500px;
    }

    .flower {
        width: 400px !important;
        height: 500px !important;
    }

    .checkout-result-overlay .thank-you {
        font-size: 50px;
    }

    .checkout-result-overlay p {
        font-size: 20px;
    }
}