* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Playfair Display";
    src: url("../../assets/font/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
    /* font-weight: 100 900; A betűtípus vastagsági tartománya */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/font/Roboto-Regular.woff2") format("woff2");
    /* font-weight: 100 900; A betűtípus vastagsági tartománya */
    font-style: normal;
    font-display: swap;
}

:root {
    --background: #050505;
    --background-light: #1d1d1d;
    --text: #ffffff;
    --border: #2b2b2b;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: var(--background-light);
    color: var(--text);
    min-height: 100vh;
    font-family: Arial;
    display: flex;
    align-items: center;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none;
    --is-mobile: 0;
}

main {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-block: 1rem;
    flex-direction: column;

    & > form {
        flex-grow: 1;
    }

    & > form > header {
        font-size: 40px;
    }

    & > .order-details {
        border-radius: 5px;
        background-color: #292929;
    }
}

header {
    font-family: Playfair Display;
    margin-bottom: 1rem;
}

form > section {
    padding-block: 0.5rem;

    & header {
        color: rgb(224, 224, 224);
        font-size: 25px;
        margin-bottom: 1rem;
        position: relative;
    }

    & header::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        top: calc(100% + 2px);
        height: 1px;
        background: linear-gradient(to right,rgb(224, 224, 224), transparent);
    }
}

form > section.hideable {
    overflow: hidden;
    padding-block: 0;
    height: 0;
    opacity: 0;
}

form > section.hideable > .section-wrapper {
    padding-block: 0.5rem;
    padding-inline: 0.5rem;
}
form > *:not(section.hideable) {
    margin-inline: 0.5rem;
}

.input-group-inline {
    display: flex;
    gap: 0.5rem;

    & > .input-group {
        width: 50%;
    }
}

.input-group {
    margin-bottom: 0.5rem;
    position: relative;
    height: 50px;
    
    & > .input-body {
        width: 100%;
        height: 50px;
        border: 1px solid rgb(55, 55, 55);
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 0px;
        outline: 2px solid transparent;
        transition: outline 0.3s ease;
        padding: 0.5rem;
        background-color: var(--background-light) !important;
    }

    & > .input-body:has(input:focus-within) {
        outline: 2px solid grey;
    }

    & input, select {
        padding: 0.5rem;
        padding-top: 1.6rem;
        font-family: Roboto;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        color: white !important;
        background-color: transparent !important;
        border: none;
        outline: none;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s ease;
        border-radius: 5px;
    }

    & select {
        padding: 0.3rem;
        padding-top: 1.4rem;
        /* color-scheme: dark; */
    }

    & option {
        /* color-scheme: dark; */
        color: black;
    }

    & label {
        z-index: 10;
        position: absolute;
        pointer-events: none;
        user-select: none;
        top: calc(50% - 8px);
        left: 0.5rem;
        width: 100%;
        height: 16px;
        color: rgb(176, 176, 176);
        font-size: 14px;
        will-change: transform, font-size;
        transition: transform 0.3s ease;
        transform-origin: left;
        backface-visibility: hidden;
    }

    & label.focus, &:focus-within label {
        transform: translateY(-10px) translateZ(0);
    }

    & label.focus ~ select, label.focus ~ input, &:focus-within label ~ select, &:focus-within label ~ input{
        opacity: 1;
    }
}

/* AUTOFILL CSS FIX */
.input-group input:-webkit-autofill,
.input-group input:-webkit-autofill:hover,
.input-group input:-webkit-autofill:focus,
.input-group input:-webkit-autofill:active,
.input-group select:-webkit-autofill,
.input-group select:-webkit-autofill:hover,
.input-group select:-webkit-autofill:focus,
.input-group select:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 100000px var(--background-light) inset !important;
    caret-color: white !important; /* For cursor color */
    background-color: var(--background-light) !important;
}

.input-group input,
.input-group select {
    color-scheme: dark;
    background-color: var(--background-light) !important;
}

.input-group option {
    background-color: var(--background-light);
    color: white !important;
}
/* END AUTOFILL CSS FIX*/

.purchase-type-radios {
    display: flex;
    flex-direction: row;
    margin-block: 1rem;
    position: relative;

    & > .radio {
        padding: 0.5rem;
        cursor: pointer;
        width: 50%;
        text-align: center;
        font-size: 18px;
        color: #858585; 
        transition: color 0.5s ease;
        user-select: none;
    }

    & > .radio.checked {
        color: white;
        cursor: auto;
    }

    & > .border {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        --left: 0%;
        --right: calc(var(--left) + 50%);
        background: linear-gradient(to right, #858585 var(--left), white var(--left), white var(--right), #858585 var(--right));
    }
}

.order-details {
    margin-inline: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
    font-family: Roboto;

    & > header {
        color: white;
        font-size: 25px;
        position: relative;
    }
    & > header::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        top: calc(100% + 2px);
        height: 1px;
        background: linear-gradient(to right,rgb(224, 224, 224), transparent);
    }

    & > .items {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        overflow-y: auto;
        max-height: 440px;
    }

    & .item {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    & .item > .item-image {
        position: relative;
        width: 80px;
        height: 80px;
    }

    & .item > .item-image > picture {
        display: block;
        width: 100%;
        height: 100%;
    }

    & .item > .item-image > picture > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    & .item-info {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    & .item-name {
        font-family: Playfair Display;
        font-size: 22px;
    }

    & .item-price, .price {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        height: 18px;
    }
    
    & .quantity {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        flex-grow: 1;
        color: #d5d5d5;
    }
    
    & .value {
        font-size: 18px;
    }

    & .currency {
        font-size: 14px;
        line-height: 26px;
        color: rgb(187, 187, 187);
    }

    & .price {
        height: auto;
        display: flex;
        flex-direction: column;
        color: #eeeeee;
    }

    & .inline-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
    }

    & .tax {
        font-style: italic;
        color: rgb(187, 187, 187);
    }

    & .total {
        padding: 0;
        padding-top: 1rem;
    }

    & .total .value, .total .label {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    & .total .currency {
        line-height: 30px;
        font-size: 16px;
    }

    & .payment-button {
        background-color: transparent;
        color: rgb(171, 255, 87);
        border: 2px solid rgb(171, 255, 87);
        font-family: Roboto;
        letter-spacing: 2px;
        font-size: 18px;
        text-transform: uppercase;
        padding-block: 0.8rem;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }

    & .payment-button:hover {
        background-color: rgba(171, 255, 87, 0.105);
    }

    & .payment-button:active {
        background-color: rgba(171, 255, 87, 0.037);
    }
}

@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }
    .order-details {
        width: 500px;
    }
}