@import url("./root.css");
@import url("./font.css");

footer {
  display: block;
  padding-top: 1.5px;
  margin-top: 5em;
}
#fb-ghost-container {
  height: 100px;
}
footer .fb-footer-mask {
  mask-image: none;
  -webkit-mask-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0, #fff0),
    color-stop(1, var(--light_main))
  );
}
footer .fb-left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;
}
footer .fb-left-container .fb-f-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #fb-footerlogo {
  max-width: 12vw;
}
footer .fb-f-col .fb-paragraph-mini {
  max-width: 15vw;
  text-align: justify;
  text-transform: none;
  font-size: smaller;
  padding-top: 15px;
}
footer .fb-f-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-attachment: fixed;
  background-size: 12vw;
}
footer .fb-f-container .fb-f-row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 0.5rem;
}
footer .fb-f-container .fb-f-row .fb-f-col {
  display: flex;
  flex-flow: column wrap;
  line-height: 40px;
  margin-bottom: 1rem;
  width: 12vw;
}
.fb-f-col h3 {
  position: relative;
  margin: 1rem 0 2rem 0;
}
.fb-f-col h3::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background: var(--light_main);
  height: 2px;
  width: 50px;
  box-sizing: border-box;
}
footer .fb-f-container .fb-f-row .fb-f-col .fb-f-content {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 10rem;
}
.fb-f-col .fb-f-content .fb-links:hover {
  padding-left: 5px;
}
footer .fb-copyright {
  color: var(--light_tertiary);
  max-width: 36vw;
}
footer .fb-links {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--light_tertiary);
  transition: all 0.3s ease;
}
footer .fb-links:hover {
  color: var(--light_main);
  cursor: pointer;
}
footer h1 {
  font-size: 1.7em;
  font-family: "Nexa";
  text-transform: uppercase;
  color: var(--light_main);
}
footer h2 {
  font-size: 1.4em;
  font-family: "Nexa";
  text-transform: uppercase;
  color: var(--light_main);
}
footer h3 {
  font-size: 1em;
  font-family: "Nexa";
  text-transform: uppercase;
  color: var(--light_main);
}
.fb-f-col-big {
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
.fb-f-col-big .fb-f-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fb-f-col .fb-socialinks-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.fb-socialinks-container .fb-socialmedia {
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--light_main);
  color: var(--dark_primary);
  text-align: center;
  border-radius: 50%;
  margin: 5px 0;
}

.fb-socialinks-container .fb-socialmedia svg{
  height: auto;
  width: 60%;
}
.fb-socialinks-container .fb-socialmedia:hover svg{
  fill:rgb(255, 255, 255)
}

.fb-f-col .fb-socialinks-container .fb-social-cont-mini {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.fb-social-cont-mini .fb-socialtext {
  font-size: 1rem;
  margin: 0 10px;
  text-align: right;
  text-transform: none;
  text-decoration: none;
  color: var(--light_tertiary);
}
.fb-social-cont-mini > .fb-links:hover {
  color: var(--light_main);
  background-color: var(--dark_primary);
  padding-right: 10px;
}

@media all and (min-width: 200px) and (max-width: 749px) and (orientation: landscape) {
  footer .fb-f-wrapper {
    display: flex;
    flex-flow: column;
  }
  footer .fb-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  footer .fb-left-container .fb-f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer #fb-footerlogo {
    max-width: 15vw;
  }
  footer .fb-f-col .fb-paragraph-mini {
    max-width: 36vw;
    text-align: justify;
    text-transform: none;
    font-size: smaller;
    padding-top: 15px;
  }
  footer .fb-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw !important;

    background-position: center;
    background-attachment: fixed;
    background-size: 12vw;
  }
  footer .fb-f-container .fb-f-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
  }
  footer .fb-f-container .fb-f-row .fb-f-col {
    display: flex;
    flex-flow: column wrap;
    line-height: 40px;
    width: 12rem;
  }
  footer .fb-copyright {
    color: var(--light_tertiary);
    max-width: 60vw;
  }
}

@media all and (min-height: 200px) and (max-height: 899px) and (orientation: portrait) {
  footer .fb-f-wrapper {
    display: flex;
    flex-flow: column;
  }
  footer .fb-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  footer .fb-left-container .fb-f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer #fb-footerlogo {
    max-width: 12vh;
  }
  footer .fb-f-col .fb-paragraph-mini {
    max-width: 60vw;
    text-align: justify;
    text-transform: none;
    font-size: smaller;
    padding-top: 15px;
  }
  footer .fb-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw !important;

    background-position: center;
    background-attachment: fixed;
    background-size: 12vh;
  }
  footer .fb-f-container .fb-f-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
    border-top: solid 1px var(--light_main);
  }
  footer .fb-f-container .fb-f-row .fb-f-col {
    display: flex;
    flex-flow: column wrap;
    line-height: 40px;
    width: 12rem;
  }
  footer .fb-copyright {
    color: var(--light_tertiary);
    max-width: 60vw;
  }
}

@media all and (max-width: 1285px) and (min-width: 750px) and (orientation: landscape) {
  footer .fb-f-wrapper {
    display: flex;
    flex-flow: column;
  }
  footer .fb-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  footer .fb-left-container .fb-f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer #fb-footerlogo {
    max-width: 15vw;
  }
  footer .fb-f-col .fb-paragraph-mini {
    max-width: 36vw;
    text-align: justify;
    text-transform: none;
    font-size: smaller;
    padding-top: 15px;
  }
  footer .fb-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw !important;

    background-position: center;
    background-attachment: fixed;
    background-size: 12vw;
  }
  footer .fb-f-container .fb-f-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
    border-top: none;
  }
  footer .fb-f-container .fb-f-row .fb-f-col {
    display: flex;
    flex-flow: column wrap;
    line-height: 40px;
    width: 12rem;
  }
  footer .fb-copyright {
    color: var(--light_tertiary);
    max-width: 60vw;
  }
}

@media all and (max-height: 1185px) and (min-height: 900px) and (orientation: portrait) {
  footer .fb-f-wrapper {
    display: flex;
    flex-flow: column;
  }
  footer .fb-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  footer .fb-left-container .fb-f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer #fb-footerlogo {
    max-width: 12vh;
  }
  footer .fb-f-col .fb-paragraph-mini {
    max-width: 36vw;
    text-align: justify;
    text-transform: none;
    font-size: smaller;
    padding-top: 15px;
  }
  footer .fb-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw !important;

    background-position: center;
    background-attachment: fixed;
    background-size: 12vh;
  }
  footer .fb-f-container .fb-f-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
    border-top: solid 1px var(--light_main);
  }
  footer .fb-f-container .fb-f-row .fb-f-col {
    display: flex;
    flex-flow: column wrap;
    line-height: 40px;
    width: 12rem;
  }
  footer .fb-copyright {
    color: var(--light_tertiary);
    max-width: 60vw;
  }
}

@media all and (max-height: 1400px) and (min-height: 1186px) and (orientation: portrait) {
  footer .fb-f-wrapper {
    display: flex;
    flex-flow: column;
  }
  footer .fb-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  footer .fb-left-container .fb-f-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer #fb-footerlogo {
    max-width: 12vh;
  }
  footer .fb-f-col .fb-paragraph-mini {
    max-width: 36vw;
    text-align: justify;
    text-transform: none;
    font-size: smaller;
    padding-top: 15px;
  }
  footer .fb-f-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw !important;

    background-position: center;
    background-attachment: fixed;
    background-size: 12vh;
  }
  footer .fb-f-container .fb-f-row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0.5rem;
    border-top: solid 1px var(--light_main);
  }
  footer .fb-f-container .fb-f-row .fb-f-col {
    display: flex;
    flex-flow: column wrap;
    line-height: 40px;
    width: 12rem;
  }
  footer .fb-copyright {
    color: var(--light_tertiary);
    max-width: 60vw;
  }
}
