@import url("../../assets/css/root.css");

.transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 999999;
    font-family: "Times New Roman", Times, serif;
    will-change: opacity;
}

.transition-background {
    background-color: var(--dark_quaternary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    will-change: opacity;
}

.transition .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    z-index: 2;
    overflow: hidden;
}

.transition .layer .transition-row {
    flex: 1;
    display: flex;
    justify-content: stretch;
}

.transition .layer .transition-row .block {
    transform-origin: top;
}

.transition .block {
    pointer-events: all;
    flex: 1;
    transform: scaleY(1);
    margin-inline: -0.5px;
    will-change: transform, opacity;
}

.transition .layer-0 {
    z-index: 5;
}

.transition .layer-0 .block {
    background-color: var(--dark_quaternary);
}

.transition .layer-1 {
    z-index: 4;
}

.transition .layer-1 .block {
    background-color: var(--green_tertiary);
}

.transition .layer-2 {
    z-index: 3;
}

.transition .layer-2 .block {
    background-color: var(--green_secondary);
}

.transition .layer-3 {
    z-index: 2;
}

.transition .layer-3 .block {
    background-color: var(--green_primary);
}

.transition-text {
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    opacity: 0;
}

.transition-text .hero {
    font-size: min(11vw, 90px);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: normal;
}

.transition-text .hero .char {
    width: auto;
    will-change: transform;
}

.transition-text .quote {
    color: #90aa7e;
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0% 100%);
}

.transition-text .quote .char {
    width: auto;
    will-change: transform;
}
