.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
    visibility: hidden;
    opacity: 0;
    background-color: #1d1d1d7a;
}

.popup-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 100;

    width: 500px;
    height: 300px;
    padding: 0.5rem;

    background-color: #252525;
    border-top: 6px solid #2885d1;
    border-radius: 3px;
    transform: scale(0);
}

.popup-icon {
    position: absolute;
    top: -3px;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #2885d1;
    padding: 1rem;
}

.popup-icon > svg {
    flex-shrink: 0;

    width: 100%;
    height: 100%;

    color: white;
}

.popup-body > .popup-message {
    text-align: center;
    padding-inline: 1rem;
    padding-block: 1rem;
}

.popup-body > .popup-description {
    width: 85%;
    text-align: center;
    padding-inline: 1rem;
    padding-bottom: 3.5rem;
    padding-top: 1rem;
}

.button-group-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
}

.popup-body > .button-group-wrapper > .button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
    height: 2.5rem;
    padding-inline: 1rem;
}

.button-group > button {
    font-family: Karla;
    border: 3px solid transparent;
    border-radius: 3px;
    transition: background-color 0.3s ease, border 0.3s ease;
    font-size: 15px;
    position: relative;
}

.button-group > .confirm {
    background-color: #2885d1;
    color: white;
    text-shadow: 0px 0px 3px black;
    font-weight: bold;
    width: 50%;
}

.button-group > .confirm:hover {
    border: 3px solid #1e659e;
}

.button-group > .cancel {
    background-color: rgb(233, 233, 233);
    color: black;
    width: 50%;
}

.button-group > .cancel:hover {
    border: 3px solid rgb(204, 204, 204);
}