:root {
  /*
   Color elements
  */
  --dark_primary: rgb(12, 12, 12);
  --dark_primary-op1: rgba(12, 12, 12, 0.1);
  --dark_primary-op2: rgba(12, 12, 12, 0.2);
  --dark_primary-op3: rgba(12, 12, 12, 0.3);
  --dark_primary-op4: rgba(12, 12, 12, 0.4);
  --dark_primary-op5: rgba(12, 12, 12, 0.5);
  --dark_primary-op6: rgba(12, 12, 12, 0.6);
  --dark_primary-op7: rgba(12, 12, 12, 0.7);
  --dark_primary-op8: rgba(12, 12, 12, 0.8);
  --dark_primary-op9: rgba(12, 12, 12, 0.9);
  --dark_secondary: rgb(18, 18, 18);
  --dark_secondary-op1: rgba(18, 18, 18, 0.1);
  --dark_secondary-op2: rgba(18, 18, 18, 0.2);
  --dark_secondary-op3: rgba(18, 18, 18, 0.3);
  --dark_secondary-op4: rgba(18, 18, 18, 0.4);
  --dark_secondary-op5: rgba(18, 18, 18, 0.5);
  --dark_secondary-op6: rgba(18, 18, 18, 0.6);
  --dark_secondary-op7: rgba(18, 18, 18, 0.7);
  --dark_secondary-op8: rgba(18, 18, 18, 0.8);
  --dark_secondary-op9: rgba(18, 18, 18, 0.9);
  --dark_tertiary: rgb(24, 24, 24);
  --dark_tertiary-op1: rgba(24, 24, 24, 0.1);
  --dark_tertiary-op2: rgba(24, 24, 24, 0.2);
  --dark_tertiary-op3: rgba(24, 24, 24, 0.3);
  --dark_tertiary-op4: rgba(24, 24, 24, 0.4);
  --dark_tertiary-op5: rgba(24, 24, 24, 0.5);
  --dark_tertiary-op6: rgba(24, 24, 24, 0.6);
  --dark_tertiary-op7: rgba(24, 24, 24, 0.7);
  --dark_tertiary-op8: rgba(24, 24, 24, 0.8);
  --dark_tertiary-op9: rgba(24, 24, 24, 0.9);
  --dark_quaternary: rgb(30, 30, 30);
  --dark_quaternary-op1: rgba(30, 30, 30, 0.1);
  --dark_quaternary-op2: rgba(30, 30, 30, 0.2);
  --dark_quaternary-op3: rgba(30, 30, 30, 0.3);
  --dark_quaternary-op4: rgba(30, 30, 30, 0.4);
  --dark_quaternary-op5: rgba(30, 30, 30, 0.5);
  --dark_quaternary-op6: rgba(30, 30, 30, 0.6);
  --dark_quaternary-op7: rgba(30, 30, 30, 0.7);
  --dark_quaternary-op8: rgba(30, 30, 30, 0.8);
  --dark_quaternary-op9: rgba(30, 30, 30, 0.9);
  --dark_quinary: rgb(36, 36, 36);
  --dark_quinary-op1: rgba(36, 36, 36, 0.1);
  --dark_quinary-op2: rgba(36, 36, 36, 0.2);
  --dark_quinary-op3: rgba(36, 36, 36, 0.3);
  --dark_quinary-op4: rgba(36, 36, 36, 0.4);
  --dark_quinary-op5: rgba(36, 36, 36, 0.5);
  --dark_quinary-op6: rgba(36, 36, 36, 0.6);
  --dark_quinary-op7: rgba(36, 36, 36, 0.7);
  --dark_quinary-op8: rgba(36, 36, 36, 0.8);
  --dark_quinary-op9: rgba(36, 36, 36, 0.9);
  --dark_senary: rgb(42, 42, 42);
  --dark_senary-op1: rgba(42, 42, 42, 0.1);
  --dark_senary-op2: rgba(42, 42, 42, 0.2);
  --dark_senary-op3: rgba(42, 42, 42, 0.3);
  --dark_senary-op4: rgba(42, 42, 42, 0.4);
  --dark_senary-op5: rgba(42, 42, 42, 0.5);
  --dark_senary-op6: rgba(42, 42, 42, 0.6);
  --dark_senary-op7: rgba(42, 42, 42, 0.7);
  --dark_senary-op8: rgba(42, 42, 42, 0.8);
  --dark_senary-op9: rgba(42, 42, 42, 0.9);

  --light_main: rgb(255, 255, 255);
  --light_main-op1: rgba(255, 255, 255, 0.1);
  --light_main-op2: rgba(255, 255, 255, 0.2);
  --light_main-op3: rgba(255, 255, 255, 0.3);
  --light_main-op4: rgba(255, 255, 255, 0.4);
  --light_main-op5: rgba(255, 255, 255, 0.5);
  --light_main-op6: rgba(255, 255, 255, 0.6);
  --light_main-op7: rgba(255, 255, 255, 0.7);
  --light_main-op8: rgba(255, 255, 255, 0.8);
  --light_main-op9: rgba(255, 255, 255, 0.9);

  --light_secondary: rgb(242, 242, 242);
  --light_secondary-op1: rgba(242, 242, 242, 0.1);
  --light_secondary-op2: rgba(242, 242, 242, 0.2);
  --light_secondary-op3: rgba(242, 242, 242, 0.3);
  --light_secondary-op4: rgba(242, 242, 242, 0.4);
  --light_secondary-op5: rgba(242, 242, 242, 0.5);
  --light_secondary-op6: rgba(242, 242, 242, 0.6);
  --light_secondary-op7: rgba(242, 242, 242, 0.7);
  --light_secondary-op8: rgba(242, 242, 242, 0.8);
  --light_secondary-op9: rgba(242, 242, 242, 0.9);

  --green_primary: rgb(160, 221, 119);
  --green_primary-op1: rgba(160, 221, 119, 0.1);
  --green_primary-op2: rgba(160, 221, 119, 0.2);
  --green_primary-op3: rgba(160, 221, 119, 0.3);
  --green_primary-op4: rgba(160, 221, 119, 0.4);
  --green_primary-op5: rgba(160, 221, 119, 0.5);
  --green_primary-op6: rgba(160, 221, 119, 0.6);
  --green_primary-op7: rgba(160, 221, 119, 0.7);
  --green_primary-op8: rgba(160, 221, 119, 0.8);
  --green_primary-op9: rgba(160, 221, 119, 0.9);

  --green_secondary: rgb(107, 145, 81);
  --green_secondary-op1: rgba(107, 145, 81, 0.1);
  --green_secondary-op2: rgba(107, 145, 81, 0.2);
  --green_secondary-op3: rgba(107, 145, 81, 0.3);
  --green_secondary-op4: rgba(107, 145, 81, 0.4);
  --green_secondary-op5: rgba(107, 145, 81, 0.5);
  --green_secondary-op6: rgba(107, 145, 81, 0.6);
  --green_secondary-op7: rgba(107, 145, 81, 0.7);
  --green_secondary-op8: rgba(107, 145, 81, 0.8);
  --green_secondary-op9: rgba(107, 145, 81, 0.9);

  --green_tertiary: rgb(72, 80, 68);
  --green_tertiary-op1: rgba(72, 80, 68, 0.1);
  --green_tertiary-op2: rgba(72, 80, 68, 0.2);
  --green_tertiary-op3: rgba(72, 80, 68, 0.3);
  --green_tertiary-op4: rgba(72, 80, 68, 0.4);
  --green_tertiary-op5: rgba(72, 80, 68, 0.5);
  --green_tertiary-op6: rgba(72, 80, 68, 0.6);
  --green_tertiary-op7: rgba(72, 80, 68, 0.7);
  --green_tertiary-op8: rgba(72, 80, 68, 0.8);
  --green_tertiary-op9: rgba(72, 80, 68, 0.9);

  --green_quaternary: rgb(110, 201, 49);
  --green_quaternary-op1: rgba(110, 201, 49, 0.1);
  --green_quaternary-op2: rgba(110, 201, 49, 0.2);
  --green_quaternary-op3: rgba(110, 201, 49, 0.3);
  --green_quaternary-op4: rgba(110, 201, 49, 0.4);
  --green_quaternary-op5: rgba(110, 201, 49, 0.5);
  --green_quaternary-op6: rgba(110, 201, 49, 0.6);
  --green_quaternary-op7: rgba(110, 201, 49, 0.7);
  --green_quaternary-op8: rgba(110, 201, 49, 0.8);
  --green_quaternary-op9: rgba(110, 201, 49, 0.9);

  /*
   Filter elements
  */
  --blur1: blur(1px);
  --blur2: blur(2px);
  --blur3: blur(3px);
  --blur4: blur(4px);
  --blur5: blur(5px);
  --blur6: blur(6px);
  --blur7: blur(7px);
  --blur8: blur(8px);
  --blur9: blur(9px);
  --blur10: blur(10px);
}
